body {
    margin: 15px;
}
p.intro {
    font-size: 10px;
    padding-top: 10px;
}
#heading {
    height:15vh;
    background-color: #f7f5ed;
}
.h1, h1 {
    font-size: 2rem;
}
img.legend {
    width: 32px;
    padding: 5px;
    float: left;
}
#map {
    height:80vh;
}
#side-bar {
    height:80vh;
    background-color: white;
}
#footer {
    height:5vh;
    background-color: #f7f5ed;
}

/* Cursors */
.leaflet-clickable {
  cursor: crosshair !important;
}

/* only on that works */
.leaflet-container {
  cursor: crosshair !important;
}

.leaflet-dragging .leaflet-grab{
	cursor: move;
}

/* Buttons */
button#btnEV{
    background-color: DarkCyan;
    border-color: DarkCyan;
}
button#btnPR{
    background-color: DarkKhaki;
    border-color: DarkKhaki;
} 
button#btnYM{
    background-color: DarkOrange;
    border-color: DarkOrange;
} 
button#btnAGV{
    background-color: OliveDrab;
    border-color:OliveDrab;
} 
.btn {
    font-size: .7rem;
}